@import "../styles/variables";

.hiddenInputFile {
  display: none;
}

.label {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  font-size: 0.88875rem;
  font-weight: 500;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  .optionalText,
  .tooltipContainer {
    padding-left: 0.5rem;
  }

  .optionalText {
    font-weight: 500;
    color: $secondary-light-200;
    overflow: hidden;
    white-space: nowrap;
  }

  .tooltipContainer {
    img {
      display: inline-block;
    }
  }
}

.inputFile {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px dashed $primary-normal-300;

  .fileContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .fileOptions {
      margin-left: auto;
      display: flex;
      column-gap: 1rem;

      img {
        flex-shrink: 0;
        cursor: pointer;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  .fileHeader {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;

    img {
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
    }

    label,
    p {
      font-size: 0.75rem !important;
      font-weight: 400 !important;
      margin: 0 !important;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label {
      white-space: wrap;
    }

    p {
      white-space: nowrap;
      word-wrap: break-word;
    }

    span {
      cursor: pointer;
      color: $primary-normal-300;
    }
  }

  &.inputSuccess {
    border-color: $s300;

    .fileHeader {
      max-width: 80%;
    }
  }

  // &.onDrag {
  //   background-color: $primary-light-50;
  // }
}

.mobile {
  border: 1px solid $primary-normal-300;
  border-radius: 0.5rem;
  min-width: 7.5rem;
  padding: 0rem 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
  color: $primary-normal-300;
  font-weight: 700;
}

.infoTextStyle {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: $secondary-normal-300;
  width: fit-content;
}

.topPosition {
  display: flex;
  flex-direction: column;

  > div:first-child {
    order: 0;
    margin-bottom: 0;
  }

  > div:nth-child(2) {
    order: 2;
  }

  > div:last-child {
    order: 1;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.bottomPosition {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.errorMessageStyle {
  @extend .message;
  color: $e300;
}

.successMessageStyle {
  @extend .message;
  color: $secondary-normal-300;
}

:global(.byma) {
  .inputFile {
    border-color: $byma-primary-default;

    .fileHeader {
      span {
        color: $byma-primary-default;
      }
    }

    &.inputSuccess {
      border-color: $byma-success-dark;
    }
  }

  .mobile {
    border-color: $byma-primary-default;
    color: $byma-primary-default;
  }

  .infoTextStyle {
    color: $byma-text-disabled;
  }

  .errorMessageStyle {
    color: $byma-error-dark;
  }

  .successMessageStyle {
    color: $byma-text-disabled;
  }
}
