@import "../styles/variables";
@import "../styles/helpers.scss";

.checkboxWrapper {
  svg polyline {
    stroke-width: 3;
  }

  &::after {
    background-color: $primary-normal-300;
  }

  &:global(.byma)::after {
    background-color: $byma-primary-default;
  }
}

.checkboxLabel {
  font-size: 0.875rem !important;
}
