@import "../styles/variables";
@import "../styles/helpers.scss";

.tabList {
  background: none !important;
}


.tabContent {
  color: $primary-dark-900 !important; 

}

.cursor {
  background-color: $primary-dark-600 !important;

}

.cursorDark {
  background-color: $secondary-normal-500 !important;

}

.tab {
  @include data-selected  {
    .tabContent {
      color: $white !important;
    }
  }

  @include data-disabled {
    opacity:  1 !important;

  }

}

