@import "../styles/variables";

.container {
  display: flex;
  align-items: center;
  width: 100%;

  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2.375rem;
    background: $primary-light-50;
    border: 1px solid $primary-light-50;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
  }
}

.inputStyle {
  flex: 1;
  color: $primary-dark-900 !important;
  font-weight: 500;
  text-align: left !important;
  padding-left: 0.625rem;
  font-size: 0.75rem;
  border: 1px solid $primary-light-100;
  border-radius: 0.5rem;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 2.375rem;
  margin-bottom: 0 !important;
  background-color: $white !important;
}
