@import "../styles/variables";
@import "../styles/helpers.scss";

$confirm-actions-height: 100px;

.base {
  .innerWrapper {
    color: $secondary-light-200;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @include data-has-value {
    .innerWrapper {
      color: $primary-dark-900 !important;
    }
  }

  .valueStyle {
    width: fit-content !important;
  }

  .trigger {
    border-radius: 0.5rem;
    border: 1px solid $primary-light-100;
    background: $white;
    box-shadow: none;
    outline: transparent;
  }

  &:not(.invalidSelect):not(.validSelect) {
    .trigger {
      @include data-hover {
        background: $white;
        border-color: $primary-light-100;
      }

      @include data-open {
        background: $white;
        border-color: $primary-normal-300;
      }

      @include data-focus {
        background: $white;
        border-color: $primary-normal-300;
      }
    }
  }
}

.disabledSelect {
  .trigger {
    background-color: $secondary-light-50;
    color: $secondary-light-200;
    border-color: $secondary-light-200;
    border: none;
  }

  .label {
    &.formField {
      color: $primary-dark-900 !important;
      opacity: 1 !important;
    }
  }
}

.invalidSelect {
  .trigger {
    border: 1px solid $e300;
  }
}

.labelFix {
  top: 30%;
}

.label {
  color: $primary-dark-900 !important;
  display: flex !important;
  width: 100% !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  text-align: left;

  &.formField {
    color: $secondary-normal-300 !important;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.3125rem; /* 175% */
    text-transform: uppercase;
  }
}

.popoverContent {
  min-width: 20rem;
  border: 1px solid $primary-light-100;
  box-shadow: none;
  overflow: visible !important;
}

.validSelect {
  .trigger {
    border: 1px solid $s300;
  }
}

.errorMessageStyle {
  color: $e300;
}

.descriptionStyle {
  color: $secondary-normal-300;
}

.datePicker {
  background-color: $white !important;
  width: fit-content !important;

  @include data-focus {
    background-color: $white !important;
  }

  @include data-selected {
    background-color: $white !important;
  }

  @include data-hover {
    background-color: $white !important;
  }
}

.datePickerOption {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.confirmActions {
  position: fixed;
  bottom: 1px;
  left: 1px;
  height: auto;
  width: calc(100% - 2px);
  background-color: $white !important;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: var(--nextui-radius-large);
  z-index: 10;

  div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;

      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }

  @include data-focus {
    background-color: $white !important;
  }

  @include data-selected {
    background-color: $white !important;
  }

  @include data-hover {
    background-color: $white !important;
  }

  span:last-child {
    display: none;
  }
}

.confirmActionsListbox {
  padding-bottom: $confirm-actions-height !important;
}

.confirmActionsListboxWrapper {
  //calc(defaultWrapperSize + confirmActions section size)
  max-height: calc(16rem + $confirm-actions-height);
}

.datePickerListboxWrapper {
  max-height: fit-content !important;
  overflow-y: visible;
}

.itemDivider {
  position: relative;
  margin-bottom: 1rem;

  &:after {
    content: "";
    width: 95%;
    border-bottom: 1px solid $secondary-light-50;
    position: absolute;
    bottom: -0.6rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.listbox {
  ul:first-child {
    > li:not(.confirmActions):not(.datePicker) {
      background-color: $white;
      color: $primary-dark-900;
      // margin-bottom: 0.15rem;

      @include data-focus {
        background-color: transparent;
      }

      &:not(.checkOrRadio) {
        @include data-selected {
          background-color: $primary-light-50 !important;
          color: $primary-normal-300 !important;
        }
      }

      @include data-selected {
        // Remove tick at the end of label
        svg {
          @include data-selected {
            display: none !important;
          }
        }
      }

      @include data-hover {
        background-color: $secondary-light-50 !important;
      }
    }
  }

  // Remove tick at the end of label from date picker
  ul > li.datePicker > span:last-child {
    display: none !important;
  }
}

.section {
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;

  > span {
    display: block;
    width: 100% !important;
    padding-left: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border-radius: var(--nextui-radius-small);

    &:hover {
      background-color: $secondary-light-50 !important;
    }
  }

  > ul {
    margin-left: 1.5rem;

    li {
      background-color: $white;
      color: $primary-dark-900;
      margin-bottom: 0.3rem !important;

      @include data-focus {
        background-color: transparent;
      }

      @include data-selected {
        background-color: $white !important;

        // Remove tick at the end of label
        svg {
          @include data-selected {
            display: none !important;
          }
        }
      }

      @include data-hover {
        background-color: $secondary-light-50 !important;
      }
    }
  }
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.helperWrapper {
  padding: 0.5rem 0 0 0;
  font-size: 0.75rem;
  font-weight: 400;

  .description {
    color: $secondary-normal-300;
  }
  .errorMessage {
    color: $e300;
  }
}

.selectorIcon.hidden {
  display: none;
}

.externalBox {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  color: $primary-normal-300;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 16px;
  flex-flow: wrap;

  .externalItem {
    border-radius: 8px;
    background-color: $primary-light-50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;

    span {
      margin-right: 16px;
    }
    img {
      cursor: pointer;
    }
  }
}

:global(.byma) {
  .base {
    .innerWrapper {
      color: $byma-primary-alternative;
    }

    @include data-has-value {
      .innerWrapper {
        color: $byma-primary-default !important;
      }
    }

    .trigger {
      border-color: $byma-text-disabled;
      background: $byma-white;
    }

    &:not(.invalidSelect):not(.validSelect) {
      .trigger {
        @include data-hover {
          background: $byma-white;
          border-color: $byma-text-disabled;
        }

        @include data-open {
          background: $byma-white;
          border-color: $byma-primary-default;
        }

        @include data-focus {
          background: $byma-white;
          border-color: $byma-primary-default;
        }
      }
    }
  }

  .disabledSelect {
    .trigger {
      background-color: $byma-text-disabled;
      color: $byma-text-primary;
      border-color: $byma-text-disabled;
    }

    .label {
      &.formField {
        color: $byma-text-primary !important;
      }
    }
  }

  .invalidSelect {
    .trigger {
      border-color: $byma-error-dark;
    }
  }

  .label {
    color: $byma-text-primary !important;

    &.formField {
      color: $byma-text-primary !important;
    }
  }

  .popoverContent {
    border-color: $byma-primary-alternative;
    overflow-y: visible !important;
  }

  .validSelect {
    .trigger {
      border-color: $byma-success-dark;
    }
  }

  .errorMessageStyle {
    color: $byma-error-dark;
  }

  .descriptionStyle {
    color: $byma-text-primary;
  }

  .datePicker {
    background-color: $byma-white !important;

    @include data-focus {
      background-color: $byma-white !important;
    }

    @include data-selected {
      background-color: $byma-white !important;
    }

    @include data-hover {
      background-color: $byma-white !important;
    }
  }

  .confirmActions {
    background-color: $byma-white !important;

    @include data-focus {
      background-color: $byma-white !important;
    }

    @include data-selected {
      background-color: $byma-white !important;
    }

    @include data-hover {
      background-color: $byma-white !important;
    }
  }

  .itemDivider {
    &:after {
      border-bottom: 1px solid $byma-background-primary;
    }
  }

  .listbox {
    ul:first-child {
      > li:not(.confirmActions):not(.datePicker) {
        background-color: $byma-white;
        color: $byma-text-primary;

        &:not(.checkOrRadio) {
          @include data-selected {
            background-color: $byma-primary-default !important;
            color: $byma-background-primary !important;
          }
        }

        @include data-hover {
          background-color: $byma-primary-hover !important;
        }
      }
    }
  }

  .section {
    > span {
      &:hover {
        background-color: $byma-background-primary !important;
      }
    }

    > ul {
      li {
        background-color: $byma-white;
        color: $byma-text-primary;

        @include data-selected {
          background-color: $byma-white !important;
        }

        @include data-hover {
          background-color: $byma-background-primary !important;
        }
      }
    }
  }

  .helperWrapper {
    .description {
      color: $byma-primary-alternative;
    }
    .errorMessage {
      color: $byma-error-dark;
    }
  }

  .externalBox {
    color: $byma-text-primary;

    .externalItem {
      background-color: $byma-primary-default;
      color: $byma-white;
    }
  }
}
