@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import "../src/styles/variables";

* {
  font-family: "Poppins", sans-serif;
}

.flexContainer{
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
}

.dot{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.5rem;

  &.green{
    background-color: $s300;
  }

  &.red{
    background-color: $e300;
  }
}

.greenText{
  color: $s300;
  margin: 0;
}

.redText{
  color: $e300;
  margin: 0;
}

.customAlert{
  background-color: $primary-dark-900 !important;
  color: $primary-light-50 !important;
}

.inputContainer{
  width: 22rem;

  &.top{
    margin-bottom: 12rem;
  }
}

.tabsContainer {
  width: 8.575rem;
  height: 5.5rem;
}